/*  your css code here. If applicable */
#num{
	display: flex;
    justify-content: center; 
    align-items: center; 
	background-color:black;
	color:white;
	padding:20px
}
#container{
	display: flex;
    justify-content: center; 
    align-items: center; 
	height:100vh;
}
.btn {
  padding: 10px 20px;
  font-size: 16px;
}